<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yang.template.mapper.TVideoMediaMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.yang.template.model.domain.TVideoMedia">
        <id column="id" property="id" />
        <result column="categoryid" property="categoryid" />
        <result column="mediauuid" property="mediauuid" />
        <result column="mediatype" property="mediatype" />
        <result column="mediaorginalname" property="mediaorginalname" />
        <result column="mediaorginalsize" property="mediaorginalsize" />
        <result column="media_played_size" property="mediaPlayedSize" />
        <result column="mediaorginaltype" property="mediaorginaltype" />
        <result column="mediaorginalpath" property="mediaorginalpath" />
        <result column="uploadtime" property="uploadtime" />
        <result column="uploaduser" property="uploaduser" />
        <result column="istranscode" property="transcode" />
        <result column="mediatspath" property="mediatspath" />
        <result column="mediam3u8path" property="mediam3u8path" />
        <result column="mediaplayurl" property="mediaplayurl" />
        <result column="meidiaduration" property="meidiaduration" />
        <result column="meidiastatus" property="meidiastatus" />
        <result column="mediaremark" property="mediaremark" />
        <result column="mediaphoto" property="mediaphoto" />
        <result column="create_time" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, categoryid, mediauuid, mediatype, mediaorginalname, mediaorginalsize, media_played_size, mediaorginaltype, mediaorginalpath, uploadtime, uploaduser, istranscode, mediatspath, mediam3u8path, mediaplayurl, meidiaduration, meidiastatus, mediaremark, mediaphoto, create_time
    </sql>

</mapper>
